.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}




h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    background-image: linear-gradient(to left, #709a3c, #b9be1e);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

td {
    text-align: center;
    border: 2px solid yellow;
    background-color: black;
    /* table-layout:fixed; */
    height: 30px;
    width: 30px;
    overflow:hidden;
    word-wrap:break-word;
}

.buttonClass {
    margin: 0 auto;
    width: fit-content;
}



.active {
    background-color: #b9be1e;
  }

.button {
    text-align: center;
    display: inline-block;
    padding: 15px 25px;
    margin: 10px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #b9be1e;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #e2df13}
  
  .button:active {
    background-color: #a9d80f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }